@model IEnumerable<PropertyDto>

@{
    ViewData["Title"] = "Properties";
}

<section class="rooms-section spad mt-5">
    <div class="container">
        <div class="row">
            @foreach (var property in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="room-item">
                        <img src="@property.ImageUrl" alt="@property.Title" style="height: 220px; object-fit: cover;" />
                        <div class="ri-text">
                            <h4>@property.Title</h4>
                            <h3>@property.PricePerNight$<span> / Pernight</span></h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Size:</td>
                                        <td>@property.Sqm m²</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Capacity:</td>
                                        <td>Max person @property.MaxGuests</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Bedrooms:</td>
                                        <td>@property.Bedrooms</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a asp-action="Details" asp-route-id="@property.Id" class="primary-btn">More Details</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
